	body {
        font-family: Verdana;
        font-size: 13px;
	}
	.corpo {
		width: 100%;
		margin: 0 auto;
		background:ivory;
       	text-align: center;
	}
	.row1 {
		height: 30px;
	}
	.row2 {
		height: 570px;
	}
	.row3 {
		height: 30px;
	}
	.cabecalho {
		position: fixed;
		width: 100%;
		top: -10px;
		margin: 0 auto;
       	height: 50px;
		background:khaki;
		text-align: center;
	}
	.divColuna1 {
        position: fixed;
        width: 80px;
		margin: 0 auto;
     	height: 563px;
        top: 42px;
		text-align: left;
        background:palegreen;
     }
	.divColuna2 {
        position: fixed;
        left: 100px;
        width: 90%;
		height: 563px;
        top: 42px;
		text-align: left;
	    background:ivory;
    }
    .divColuna10 {
        position: relative;
		top: 600px;
        left: 1100px;
        width: 60px; 
        height: 15px;
        text-align: left;
        background:palegreen;
    } 
    .rodape {
        position: fixed;
		width: 100%;
		height: 25px;
		top: 610px;
		margin: 0 auto;
       	text-align: center;
		border: 1px solid red;
		background:khaki;
        font-size: 13px;
    }
	/* The Modal (background) */
	.modal1 {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		width: 200; /* Full width */
		height: 210; /* Full height */
		overflow: no; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	/* Modal Content */
	.modal-body1 {
		position: relative;
		background-color: ivory;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 100%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}
	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 1px; /* Location of the box */
		margin-top:0px;
		margin-left:0px;
		left: 200px;
		top: 100px;
		/*left:50vw;*/
		/*top: 50vh;*/
		width: 480; /* Full width */
		height: 420; /* Full height */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-coluna {
		display: none;
		z-index: 1; /* Sit on top */
		position: fixed;
		background-color: palegreen;
		margin-top:0px;
		margin-left:0px;
		left: 100px;
		top:100px;
		/*left: 50vw;*/
		/*top: 50vh;*/
		height: 420px; 
		width: 100px;
		border: 1px solid #888;
		overflow: auto; /* Enable scroll if needed */
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.2s;
		animation-name: animatetop;
		animation-duration: 0.2s;
	}
	.modal-body {
		position: absolute;
		background-color: ivory;
		margin: auto;
		width:96%;
		padding: 0;
		border: 1px solid #888;
		left: 10px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.5s;
		animation-name: animatetop;
		animation-duration: 0.5s;
	}
	/* Add Animation */
	@-webkit-keyframes animatetop {
		from {top:-400px; opacity:0} 
		to {top:0; opacity:1}
	}

	@keyframes animatetop {
		from {top:-400px; opacity:0}
		to {top:0; opacity:1}
	}

	.modal-header {
		position: relative;
		height:40px;
		width:96%;
		left: 10px;
		font-size: 20px;
		background-color: khaki;
		color: white;
	}

	.modal-pe {
		position: relative;
		top: 310px;
		left: 10px;
		width:96%;
		background-color: khaki;
		color: white;
	}
	
	.modal_figura{
		position: absolute;
		padding: 2px 16px;
		width: 110;
		left: 300px;
		top: 200px;
	}
	/* pe pagina */
	.ok, .apagar, .novo, .close {
		color: white;
		float: right;
		left: 300px;
		font-size: 28px;
		font-weight: bold;
	}
	.ok:hover, .ok:focus, 
	.apagar:hover, .apagar:focus,
	.novo:hover, .novo:focus,
	.close:hover, .close:focus{
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	.up, .dw {
		color: white;
		float: inline;
		left: 100px;
		font-size: 28px;
		font-weight: bold;
	}

	.up:hover, .dw:hover,
	.up:focus, .dw:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	input[type=text]{   
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		box-shadow: 1px 1px 2px #333333;    
		-moz-box-shadow: 1px 1px 2px #333333;
		-webkit-box-shadow: 1px 1px 2px #333333;
		background: #cccccc; 
		border:1px solid #000000;
	}
 
	textarea{
		border: 1px solid #000000;
		background:#cccccc;
		height:100px;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		box-shadow: 1px 1px 2px #333333;    
		-moz-box-shadow: 1px 1px 2px #333333;
		-webkit-box-shadow: 1px 1px 2px #333333;
	}
 
	input[type=text]:hover, textarea:hover{ 
         background: #ffffff; border:1px solid #990000;	
	}
 
	input[type=submit]{
        background:#006699;
        color:#ffffff;
	}
