body {
        font-family: Arial;
        font-size: 13px;
}
.cabecalho {
	position: fixed;
	width: 94%;
	left:3%;
    	display:block;
	top: 10px;
       	height: 50px;
	padding-top: 1px;
	background: khaki;
       	text-align: center;
}
.divRow1 {
    	position: fixed;
    	left: 3%;
    	top: 68px;
    	display:block;
    	width: 94%;
    	height: 100%;
    	padding-bottom:5px;
	background: palegreen;
        font-size: 12px;
 	text-align: left;
	overflow: auto;
}
.divRow2 {
        position: fixed;
        left: 3%;
       	botton: 10px;
        display:block;
        width: 94%;
        height: 24px;
        padding-top:1px;
	background: palegreen;
        font-size: 12px;
        text-align: center;
}
.rodape {
        position: fixed;
	left: 3%;
        botton: 0px;
        width: 94%;
	height: 18px;
	margin: 0 auto;
       	text-align: center;
	border: 1px solid red;
	background:khaki;
        font-size: 10px;
}
